{{#block "header"}}
	<!doctype hmtl>
	<html lang=en>
	<head>
		<meta charset="UTF-8">
		<title>{{#block "title"}}Welcome to Course Ideas{{/block}}</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="page">
			{{#if flash_message}}
				<p id="flash-message">{{ flash_message }}</p>
			{{/if}}
{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}
		</div>
	</body>
	</html>
{{/block}}