<!doctype hmtl>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<title>Hello Students</title>
</head>
<body>
	{{#if username}}
		<h1>Welcome {{username}}!</h1>
	{{else}}
		<form action="/sign-in" method="post">
			<input type="text" placeholder="What's your username?" name="username" />
			<button>Sign In</button>
		</form>
	{{/if}}
</body>
</html>